*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #1b1e20;
    font-family: 'Pathway Gothic One', sans-serif;
}
#nav{
    padding: 20px;
    position: relative;
    color: white;
    width: 100%;
    display: flex;
    justify-content: left;
    height: 140px;
    align-items: center;
    font-size: 2em;
}
.icon{
    height: 100%;
}

i{
    font-size: 200px;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
button{
    background-color: transparent;
    border: 10px rgb(12, 232, 232) solid;
    color:rgb(12, 232, 232); 
    border-radius: 20px; 
    height: 290px;
    min-width: 290px;
    margin: 20px 0;
}
p{
    margin-top: 10px;
    font-size: 30px;
}


#cont{
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(90, 90, 90);
    width: 90%;
    height: 50svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ins{
    background-color: transparent;
    border: 5px solid rgb(12, 232, 232);
    border-radius: 5px;
    color: white;
    min-height: 40px;
}

#file{
    display: none;
}
#fils{
    background-color: transparent;
    border: 5px solid rgb(12, 232, 232);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 100px;
}
#img{
    max-height: 100%;
    max-width: 100%;
    /* border-radius: 5px; */
    /* border: 1px solid rgb(12, 232, 232);  */
}
#contImg{
    height: 150px;
    width: 200px;
    padding: 10px;
    
    border-radius: 5px;
    border: 1px solid rgb(12, 232, 232);
}
@media screen and (max-width:480) {
    #nav{
        font-size: 0.6svw;
    }
}